/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:28:30 PM
    Author     : frontend
*/


/*

> 0        ''      NO NAME

> 576px    SM    Small Devices

> 768px    MD    Medium Devices

> 992      LG    Large Devices

> 1200     XL    Extra Large

> 1400     XXL   Extra Extra Large

*/
@media(min-width:0px){
  /*Start*/
  .start .start-item .start-batton{
      display: block;
      margin-bottom: 10px;
  }
  /*Paid*/
  .paid .paid-item .btn-paid{
    
    display: block;
    margin-left: 50px;
    }
  
}

@media(min-width:576px){
 /*Paid*/
  .paid .paid-item .btn-paid{
    
    
    margin-left: 120px;
    }
  
  
}

@media(min-width:768px){
   /*Start*/
  .start .start-item .start-batton{
      display: inline-block;
  }
  /*Paid*/
  .paid .paid-item .btn-paid{
    
   
    margin-left: 0px;
    }
}

@media(min-width:992px){
    /*Paid*/
  .paid .paid-item .btn-paid{
    
    
    margin-left: 25px;
    }
  
}

@media(min-width:1200px){
    /*Paid*/
  .paid .paid-item .btn-paid{
    
    
    margin-left: 50px;
    }
  
}

@media(min-width:1400px){
  
  
}